@charset "utf-8";
/* CSS Document */

h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	margin: 0px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	margin: 0px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	margin: 0px;
}
#formCheckBox {
	text-align: center;
	width: 40px;
}
#textArea{
	text-align: center;
	width: 175px;
}

#notice{
	background-color: silver;
	border: 2px solid;
}
#headerColours {
	font-weight: bold;
	background-color: #FF0;
	text-align: center;
	height: 35px;
	width: 760px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding-top: 17px;
	border: thin solid #000;
	padding-right: 5px;
	padding-left: 5px;
}
table#section {
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid black;
	width: 75%;
	text-align: center;
	font-weight: bold;
	background-color: #CC9933;
}
table#sectionsub {
	font-family: Arial, Helvetica, sans-serif;
	width: 75%;	
	border-collapse:collapse;
}
#leftcol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	border: 1px solid black;
	width: 6%;
	background-color: #E0E0E0; 
}
#rightcol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid black;
	text-align: left;
	padding-left: 8px;
	background-color: #E0E0E0; 
}
table#projecttypetable {
	border-collapse:collapse;
	width: 75%;
	margin: 1px;
}
#projecttype1 {
	border: 1px solid black;
	width: 6%;
	text-align: center;
	
}
#projecttype2 {
	border: 1px solid black;
	width: 15%;
	text-align: center;
}
#projecttype3 {
	width: 79%;
	text-align: left;
	border: 1px solid black;
}
textarea#styled {
	width: 640px;
	height: 20px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
}
#fullbox {
	border: 1px solid black;
}
